{
    "comments": false,
    "presets": [
        ["@babel/preset-env", {
            "targets": { "node": "18" },
            "modules": "commonjs"
        }],
        "minify"
    ],
    "plugins": ["add-module-exports"]
}
